# AmericaData Prep

# Setup

## Imports

In [2]:
import pandas as pd
import numpy as np

## Parameters

In [3]:
AMERICA_DATASET = "../../../data/RQ3/raw/AmericaData.csv"

PROCESSED_AMERICA_DATASET = "../../../data/RQ3/processed/state_diabetes_death_df.csv"

# Loading the Dataset

In [4]:
df = pd.read_csv(AMERICA_DATASET)
df.shape

(2080, 10)

In [5]:
df.head(10)

,measure,location,sex,age,cause,metric,year,val,upper,lower
0,Deaths,United States of America,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Number,2018,2200.241096,3434.386975,1375.866710
1,Deaths,United States of America,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Percent,2018,0.000766,0.001195,0.000479
2,Deaths,United States of America,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Number,2018,31956.368547,39416.322034,24984.750774
3,Deaths,United States of America,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Percent,2018,0.011133,0.013693,0.008716
4,Deaths,Alaska,Both,All Ages,Interpersonal violence,Number,2018,37.827691,43.129855,33.053277
5,Deaths,Alaska,Both,All Ages,Interpersonal violence,Percent,2018,0.007634,0.008233,0.006977
6,Deaths,United States of America,Both,All Ages,Interpersonal violence,Number,2018,18085.633560,18573.392026,17133.089412
7,Deaths,United States of America,Both,All Ages,Interpersonal violence,Percent,2018,0.006300,0.006465,0.005966
8,Deaths,Arizona,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Number,2018,590.794301,766.754618,442.170847
9,Deaths,Arizona,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Percent,2018,0.009657,0.012018,0.007475

In [6]:
df[df['location'].str.contains('Arizona')]

,measure,location,sex,age,cause,metric,year,val,upper,lower
8,Deaths,Arizona,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Number,2018,590.794301,766.754618,442.170847
9,Deaths,Arizona,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Percent,2018,0.009657,0.012018,0.007475
64,Deaths,Arizona,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Number,2018,41.744007,65.927500,24.510901
65,Deaths,Arizona,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Percent,2018,0.000682,0.001064,0.000425
100,Deaths,Arizona,Both,All Ages,Diabetes mellitus,Number,2018,1704.999247,1972.626290,1462.503578
101,Deaths,Arizona,Both,All Ages,Diabetes mellitus,Percent,2018,0.027866,0.029815,0.025615
146,Deaths,Arizona,Both,All Ages,Interpersonal violence,Number,2018,398.961806,467.243424,338.307769
147,Deaths,Arizona,Both,All Ages,Interpersonal violence,Percent,2018,0.006519,0.007074,0.005940
452,YLLs (Years of Life Lost),Arizona,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Number,2018,1044.848103,1577.748743,613.932625
453,YLLs (Years of Life Lost),Arizona,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Percent,2018,0.000854,0.001281,0.000516
570,YLLs (Years of Life Lost),Arizona,Both,All Ages,Interpersonal violence,Number,2018,23441.944417,27070.183999,20123.877375
571,YLLs (Years of Life Lost),Arizona,Both,All Ages,Interpersonal violence,Percent,2018,0.019175,0.020593,0.017594
682,YLLs (Years of Life Lost),Arizona,Both,All Ages,Diabetes mellitus,Number,2018,34852.149132,40578.468993,29630.790861
683,YLLs (Years of Life Lost),Arizona,Both,All Ages,Diabetes mellitus,Percent,2018,0.028497,0.030402,0.026745
806,YLLs (Years of Life Lost),Arizona,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Number,2018,10007.437562,12787.172626,7548.348472
807,YLLs (Years of Life Lost),Arizona,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Percent,2018,0.008185,0.009975,0.006378
892,DALYs (Disability-Adjusted Life Years),Arizona,Both,All Ages,Diabetes mellitus,Number,2018,95907.475568,117184.295646,76363.166240
893,DALYs (Disability-Adjusted Life Years),Arizona,Both,All Ages,Diabetes mellitus,Percent,2018,0.039687,0.043987,0.035271
912,DALYs (Disability-Adjusted Life Years),Arizona,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Number,2018,1484.896729,2125.294154,956.246748
913,DALYs (Disability-Adjusted Life Years),Arizona,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Percent,2018,0.000616,0.000889,0.000401
914,DALYs (Disability-Adjusted Life Years),Arizona,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Number,2018,13187.788638,16192.423588,10352.775260
915,DALYs (Disability-Adjusted Life Years),Arizona,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Percent,2018,0.005477,0.006661,0.004370
1058,DALYs (Disability-Adjusted Life Years),Arizona,Both,All Ages,Interpersonal violence,Number,2018,28374.027163,32240.512724,24623.398031
1059,DALYs (Disability-Adjusted Life Years),Arizona,Both,All Ages,Interpersonal violence,Percent,2018,0.011789,0.013362,0.010409
1320,Prevalence,Arizona,Both,All Ages,Interpersonal violence,Number,2018,260130.976508,292213.785352,230131.444910
1321,Prevalence,Arizona,Both,All Ages,Interpersonal violence,Percent,2018,0.038093,0.042853,0.033694
1360,Prevalence,Arizona,Both,All Ages,Diabetes mellitus,Number,2018,795400.331190,846902.960903,749287.575960
1361,Prevalence,Arizona,Both,All Ages,Diabetes mellitus,Percent,2018,0.116477,0.124156,0.109358
1544,Prevalence,Arizona,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Number,2018,7191.027524,9560.979704,5400.856651
1545,Prevalence,Arizona,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Percent,2018,0.001053,0.001399,0.000790
1546,Prevalence,Arizona,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Number,2018,154429.171952,167529.488575,142804.056383
1547,Prevalence,Arizona,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Percent,2018,0.022614,0.024526,0.020864
1758,YLDs (Years Lived with Disability),Arizona,Both,All Ages,Diabetes mellitus,Number,2018,61055.326436,82609.962725,43124.436591
1759,YLDs (Years Lived with Disability),Arizona,Both,All Ages,Diabetes mellitus,Percent,2018,0.051184,0.058474,0.043541
1834,YLDs (Years Lived with Disability),Arizona,Both,All Ages,Interpersonal violence,Number,2018,4932.082746,6531.540916,3574.749951
1835,YLDs (Years Lived with Disability),Arizona,Both,All Ages,Interpersonal violence,Percent,2018,0.004157,0.005105,0.003416
1836,YLDs (Years Lived with Disability),Arizona,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Number,2018,440.048626,660.984900,275.274049
1837,YLDs (Years Lived with Disability),Arizona,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Percent,2018,0.000370,0.000525,0.000245
1838,YLDs (Years Lived with Disability),Arizona,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Number,2018,3180.351076,4340.611273,2227.840638
1839,YLDs (Years Lived with Disability),Arizona,Both,All Ages,Chronic kidney disease due to diabetes mellitu...,Percent,2018,0.002683,0.003445,0.001969

In [7]:
df.columns

Index(['measure', 'location', 'sex', 'age', 'cause', 'metric', 'year', 'val',
       'upper', 'lower'],
      dtype='object')

In [8]:
#get rid of kidney diseases
df = df[~df['cause'].str.contains('kidney')]
df.shape

(1040, 10)

In [9]:
#drop unneeded columns
key_cols = ['measure', 'location', 'cause', 'metric', 'val']
df2 = df[key_cols]
df2.head(10)

,measure,location,cause,metric,val
4,Deaths,Alaska,Interpersonal violence,Number,37.827691
5,Deaths,Alaska,Interpersonal violence,Percent,0.007634
6,Deaths,United States of America,Interpersonal violence,Number,18085.633560
7,Deaths,United States of America,Interpersonal violence,Percent,0.006300
10,Deaths,California,Diabetes mellitus,Number,7011.540842
11,Deaths,California,Diabetes mellitus,Percent,0.025681
12,Deaths,California,Interpersonal violence,Number,2122.337312
13,Deaths,California,Interpersonal violence,Percent,0.007772
14,Deaths,Indiana,Diabetes mellitus,Number,1839.277706
15,Deaths,Indiana,Diabetes mellitus,Percent,0.028074

In [10]:
df2[df2['measure'].str.contains('Deaths')]

,measure,location,cause,metric,val
4,Deaths,Alaska,Interpersonal violence,Number,37.827691
5,Deaths,Alaska,Interpersonal violence,Percent,0.007634
6,Deaths,United States of America,Interpersonal violence,Number,18085.633560
7,Deaths,United States of America,Interpersonal violence,Percent,0.006300
10,Deaths,California,Diabetes mellitus,Number,7011.540842
...,...,...,...,...,...
411,Deaths,Utah,Diabetes mellitus,Percent,0.034213
412,Deaths,Vermont,Diabetes mellitus,Number,159.771998
413,Deaths,Vermont,Diabetes mellitus,Percent,0.025828
414,Deaths,Vermont,Interpersonal violence,Number,11.535084
415,Deaths,Vermont,Interpersonal violence,Percent,0.001864

In [11]:
US_total_df = df2[df2['location'].str.contains('United States of America')]
US_total_df = US_total_df[US_total_df['measure'].str.contains('Deaths')]
US_total_df = US_total_df[US_total_df['metric'].str.contains('Number')]
US_total_df

,measure,location,cause,metric,val
6,Deaths,United States of America,Interpersonal violence,Number,18085.633560
24,Deaths,United States of America,Diabetes mellitus,Number,75081.298757

### Prepare death by diabetes by state data

In [12]:
df2['cause'].iloc[2]

'Interpersonal violence'

In [13]:
state_df = df2[~df2['location'].str.contains('United States of America')]
state_df = state_df[state_df['metric'].str.contains('Number')]
state_df = state_df[state_df['measure'].str.contains('Deaths')]
state_df = state_df[~state_df['cause'].str.contains('Interpersonal violence')]
state_df = state_df.drop(['measure'], axis=1)
state_df

                 location              cause  metric          val
10             California  Diabetes mellitus  Number  7011.540842
14                Indiana  Diabetes mellitus  Number  1839.277706
22               Delaware  Diabetes mellitus  Number   242.393749
26                Alabama  Diabetes mellitus  Number  1422.852766
34                 Kansas  Diabetes mellitus  Number   668.137047
44             New Jersey  Diabetes mellitus  Number  2177.957953
48                Georgia  Diabetes mellitus  Number  2268.024269
62          West Virginia  Diabetes mellitus  Number   797.195811
86                  Maine  Diabetes mellitus  Number   407.820605
88               New York  Diabetes mellitus  Number  3810.142520
94               Arkansas  Diabetes mellitus  Number   866.716779
100               Arizona  Diabetes mellitus  Number  1704.999247
102              Virginia  Diabetes mellitus  Number  1849.568699
108                Alaska  Diabetes mellitus  Number   130.711230
114        North Carolina  Diabetes mellitus  Number  2601.913242
132         Massachusetts  Diabetes mellitus  Number  1303.700835
134              Kentucky  Diabetes mellitus  Number  1306.792624
136               Wyoming  Diabetes mellitus  Number   122.724375
148              Illinois  Diabetes mellitus  Number  2759.321631
166                  Iowa  Diabetes mellitus  Number   723.835925
168              Michigan  Diabetes mellitus  Number  2702.725585
176            New Mexico  Diabetes mellitus  Number   649.871275
180                  Ohio  Diabetes mellitus  Number  3580.467573
182           Connecticut  Diabetes mellitus  Number   709.588552
186              Colorado  Diabetes mellitus  Number   856.253534
194             Wisconsin  Diabetes mellitus  Number  1269.210060
196              Oklahoma  Diabetes mellitus  Number  1124.526553
200            Washington  Diabetes mellitus  Number  1533.973960
202              Maryland  Diabetes mellitus  Number  1427.594101
218          North Dakota  Diabetes mellitus  Number   188.944007
232                Oregon  Diabetes mellitus  Number  1054.605944
238             Louisiana  Diabetes mellitus  Number  1326.636826
256           Mississippi  Diabetes mellitus  Number   932.882307
258               Florida  Diabetes mellitus  Number  5556.167816
264             Minnesota  Diabetes mellitus  Number  1134.603529
274          Rhode Island  Diabetes mellitus  Number   235.992672
278  District of Columbia  Diabetes mellitus  Number   149.898979
296               Montana  Diabetes mellitus  Number   272.087173
300        South Carolina  Diabetes mellitus  Number  1343.882669
306          Pennsylvania  Diabetes mellitus  Number  3658.037218
334                 Idaho  Diabetes mellitus  Number   366.231923
348              Nebraska  Diabetes mellitus  Number   424.048552
356         New Hampshire  Diabetes mellitus  Number   327.127567
362                Hawaii  Diabetes mellitus  Number   268.587521
368              Missouri  Diabetes mellitus  Number  1459.777307
372                 Texas  Diabetes mellitus  Number  5276.156021
376          South Dakota  Diabetes mellitus  Number   217.285179
400                Nevada  Diabetes mellitus  Number   457.181850
402             Tennessee  Diabetes mellitus  Number  1776.919789
410                  Utah  Diabetes mellitus  Number   624.632861
412               Vermont  Diabetes mellitus  Number   159.771998

In [14]:
state_diabetes_death_df = state_df.drop(['cause', 'metric'], axis=1)
state_diabetes_death_df

                 location          val
10             California  7011.540842
14                Indiana  1839.277706
22               Delaware   242.393749
26                Alabama  1422.852766
34                 Kansas   668.137047
44             New Jersey  2177.957953
48                Georgia  2268.024269
62          West Virginia   797.195811
86                  Maine   407.820605
88               New York  3810.142520
94               Arkansas   866.716779
100               Arizona  1704.999247
102              Virginia  1849.568699
108                Alaska   130.711230
114        North Carolina  2601.913242
132         Massachusetts  1303.700835
134              Kentucky  1306.792624
136               Wyoming   122.724375
148              Illinois  2759.321631
166                  Iowa   723.835925
168              Michigan  2702.725585
176            New Mexico   649.871275
180                  Ohio  3580.467573
182           Connecticut   709.588552
186              Colorado   856.253534
194             Wisconsin  1269.210060
196              Oklahoma  1124.526553
200            Washington  1533.973960
202              Maryland  1427.594101
218          North Dakota   188.944007
232                Oregon  1054.605944
238             Louisiana  1326.636826
256           Mississippi   932.882307
258               Florida  5556.167816
264             Minnesota  1134.603529
274          Rhode Island   235.992672
278  District of Columbia   149.898979
296               Montana   272.087173
300        South Carolina  1343.882669
306          Pennsylvania  3658.037218
334                 Idaho   366.231923
348              Nebraska   424.048552
356         New Hampshire   327.127567
362                Hawaii   268.587521
368              Missouri  1459.777307
372                 Texas  5276.156021
376          South Dakota   217.285179
400                Nevada   457.181850
402             Tennessee  1776.919789
410                  Utah   624.632861
412               Vermont   159.771998

In [15]:
state_diabetes_death_df = state_diabetes_death_df.rename(columns = {"location": "State", "val": "Diabetes Deaths"})
state_diabetes_death_df['State'] = state_diabetes_death_df['State'].str.upper()

state_diabetes_death_df

                    State  Diabetes Deaths
10             CALIFORNIA      7011.540842
14                INDIANA      1839.277706
22               DELAWARE       242.393749
26                ALABAMA      1422.852766
34                 KANSAS       668.137047
44             NEW JERSEY      2177.957953
48                GEORGIA      2268.024269
62          WEST VIRGINIA       797.195811
86                  MAINE       407.820605
88               NEW YORK      3810.142520
94               ARKANSAS       866.716779
100               ARIZONA      1704.999247
102              VIRGINIA      1849.568699
108                ALASKA       130.711230
114        NORTH CAROLINA      2601.913242
132         MASSACHUSETTS      1303.700835
134              KENTUCKY      1306.792624
136               WYOMING       122.724375
148              ILLINOIS      2759.321631
166                  IOWA       723.835925
168              MICHIGAN      2702.725585
176            NEW MEXICO       649.871275
180                  OHIO      3580.467573
182           CONNECTICUT       709.588552
186              COLORADO       856.253534
194             WISCONSIN      1269.210060
196              OKLAHOMA      1124.526553
200            WASHINGTON      1533.973960
202              MARYLAND      1427.594101
218          NORTH DAKOTA       188.944007
232                OREGON      1054.605944
238             LOUISIANA      1326.636826
256           MISSISSIPPI       932.882307
258               FLORIDA      5556.167816
264             MINNESOTA      1134.603529
274          RHODE ISLAND       235.992672
278  DISTRICT OF COLUMBIA       149.898979
296               MONTANA       272.087173
300        SOUTH CAROLINA      1343.882669
306          PENNSYLVANIA      3658.037218
334                 IDAHO       366.231923
348              NEBRASKA       424.048552
356         NEW HAMPSHIRE       327.127567
362                HAWAII       268.587521
368              MISSOURI      1459.777307
372                 TEXAS      5276.156021
376          SOUTH DAKOTA       217.285179
400                NEVADA       457.181850
402             TENNESSEE      1776.919789
410                  UTAH       624.632861
412               VERMONT       159.771998

In [16]:
state_diabetes_death_df = state_diabetes_death_df.groupby(['State']).sum()
state_diabetes_death_df.shape

(51, 1)

In [17]:
#round Deaths by Diabetes column
state_diabetes_death_df['Diabetes Deaths'] = state_diabetes_death_df['Diabetes Deaths'].round(0).astype(int)

In [18]:
state_diabetes_death_df

                      Diabetes Deaths
State
ALABAMA                          1423
ALASKA                            131
ARIZONA                          1705
ARKANSAS                          867
CALIFORNIA                       7012
COLORADO                          856
CONNECTICUT                       710
DELAWARE                          242
DISTRICT OF COLUMBIA              150
FLORIDA                          5556
GEORGIA                          2268
HAWAII                            269
IDAHO                             366
ILLINOIS                         2759
INDIANA                          1839
IOWA                              724
KANSAS                            668
KENTUCKY                         1307
LOUISIANA                        1327
MAINE                             408
MARYLAND                         1428
MASSACHUSETTS                    1304
MICHIGAN                         2703
MINNESOTA                        1135
MISSISSIPPI                       933
MISSOURI                         1460
MONTANA                           272
NEBRASKA                          424
NEVADA                            457
NEW HAMPSHIRE                     327
NEW JERSEY                       2178
NEW MEXICO                        650
NEW YORK                         3810
NORTH CAROLINA                   2602
NORTH DAKOTA                      189
OHIO                             3580
OKLAHOMA                         1125
OREGON                           1055
PENNSYLVANIA                     3658
RHODE ISLAND                      236
SOUTH CAROLINA                   1344
SOUTH DAKOTA                      217
TENNESSEE                        1777
TEXAS                            5276
UTAH                              625
VERMONT                           160
VIRGINIA                         1850
WASHINGTON                       1534
WEST VIRGINIA                     797
WISCONSIN                        1269
WYOMING                           123

In [19]:
state_diabetes_death_df.head()

            Diabetes Deaths
State
ALABAMA                1423
ALASKA                  131
ARIZONA                1705
ARKANSAS                867
CALIFORNIA             7012

# Saving the Dataframe

In [20]:
state_diabetes_death_df.to_csv(PROCESSED_AMERICA_DATASET)