In [ ]:
#Possibly no need for this notebook
#Extracts 2010 population density

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_excel("../../data/raw/POP01.xls", sheet_name="POP01C")
df

,Area_name,STCOU,POP050190F,POP050190D,POP050190N1,POP050190N2,POP050200F,POP050200D,POP050200N1,POP050200N2,...,POP110180N1,POP110180N2,POP110190F,POP110190D,POP110190N1,POP110190N2,POP110200F,POP110200D,POP110200N1,POP110200N2
0,UNITED STATES,0,0,9.8,0,0,0,13.1,0,0,...,0,0,0,187051543,0,0,0,222358309,0,0
1,ALABAMA,1000,0,3.8,0,0,0,10.1,0,0,...,0,0,0,2437715,0,0,0,2465539,0,0
2,"Autauga, AL",1001,0,6.1,0,0,0,27.6,0,0,...,0,0,0,19856,0,0,0,24210,0,0
3,"Baldwin, AL",1003,0,25.1,0,0,0,42.9,0,0,...,0,0,0,38676,0,0,0,63708,0,0
4,"Barbour, AL",1005,0,2.7,0,0,0,14.2,0,0,...,0,0,0,12373,0,0,0,8574,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3193,"Sweetwater, WY",56037,0,-7.0,0,0,0,-3.1,0,0,...,0,0,0,31707,0,0,0,33512,0,0
3194,"Teton, WY",56039,0,19.4,0,0,0,63.3,0,0,...,0,0,0,4452,0,0,0,10244,0,0
3195,"Uinta, WY",56041,0,43.7,0,0,0,5.5,0,0,...,0,0,0,10903,0,0,0,11574,0,0
3196,"Washakie, WY",56043,0,-11.7,0,0,0,-1.2,0,0,...,0,0,0,5742,0,0,0,5631,0,0
3197,"Weston, WY",56045,0,-8.3,0,0,0,1.9,0,0,...,0,0,0,3043,0,0,0,3007,0,0

In [3]:
df

,Area_name,STCOU,POP050190F,POP050190D,POP050190N1,POP050190N2,POP050200F,POP050200D,POP050200N1,POP050200N2,...,POP110180N1,POP110180N2,POP110190F,POP110190D,POP110190N1,POP110190N2,POP110200F,POP110200D,POP110200N1,POP110200N2
0,UNITED STATES,0,0,9.8,0,0,0,13.1,0,0,...,0,0,0,187051543,0,0,0,222358309,0,0
1,ALABAMA,1000,0,3.8,0,0,0,10.1,0,0,...,0,0,0,2437715,0,0,0,2465539,0,0
2,"Autauga, AL",1001,0,6.1,0,0,0,27.6,0,0,...,0,0,0,19856,0,0,0,24210,0,0
3,"Baldwin, AL",1003,0,25.1,0,0,0,42.9,0,0,...,0,0,0,38676,0,0,0,63708,0,0
4,"Barbour, AL",1005,0,2.7,0,0,0,14.2,0,0,...,0,0,0,12373,0,0,0,8574,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3193,"Sweetwater, WY",56037,0,-7.0,0,0,0,-3.1,0,0,...,0,0,0,31707,0,0,0,33512,0,0
3194,"Teton, WY",56039,0,19.4,0,0,0,63.3,0,0,...,0,0,0,4452,0,0,0,10244,0,0
3195,"Uinta, WY",56041,0,43.7,0,0,0,5.5,0,0,...,0,0,0,10903,0,0,0,11574,0,0
3196,"Washakie, WY",56043,0,-11.7,0,0,0,-1.2,0,0,...,0,0,0,5742,0,0,0,5631,0,0
3197,"Weston, WY",56045,0,-8.3,0,0,0,1.9,0,0,...,0,0,0,3043,0,0,0,3007,0,0

Create dataset for State

In [4]:
key_cols = ['Area_name','POP060210D']#column name for pop density of 2010
df = df[key_cols]
df.head()

       Area_name  POP060210D
0  UNITED STATES        87.4
1        ALABAMA        94.4
2    Autauga, AL        91.8
3    Baldwin, AL       114.6
4    Barbour, AL        31.0

In [5]:
state_pop_den = df[~df['Area_name'].str.contains('UNITED STATES')]
state_pop_den = state_pop_den[~state_pop_den['Area_name'].str.contains(',')]
state_pop_den = state_pop_den.reset_index(drop=True)
state_pop_den

               Area_name  POP060210D
0                ALABAMA        94.4
1                 ALASKA         1.2
2                ARIZONA        56.3
3               ARKANSAS        56.0
4             CALIFORNIA       239.1
5               COLORADO        48.5
6            CONNECTICUT       738.1
7               DELAWARE       460.8
8   DISTRICT OF COLUMBIA      9856.5
9   District of Columbia      9856.6
10               FLORIDA       350.6
11               GEORGIA       168.4
12                HAWAII       211.8
13                 IDAHO        19.0
14              ILLINOIS       231.1
15               INDIANA       181.0
16                  IOWA        54.5
17                KANSAS        34.9
18              KENTUCKY       109.9
19             LOUISIANA       104.9
20                 MAINE        43.1
21              MARYLAND       594.8
22         MASSACHUSETTS       839.4
23              MICHIGAN       174.8
24             MINNESOTA        66.6
25           MISSISSIPPI        63.2
26              MISSOURI        87.1
27               MONTANA         6.8
28              NEBRASKA        23.8
29                NEVADA        24.6
30         NEW HAMPSHIRE       147.0
31            NEW JERSEY      1195.5
32            NEW MEXICO        17.0
33              NEW YORK       411.2
34        NORTH CAROLINA       196.1
35          NORTH DAKOTA         9.7
36                  OHIO       282.3
37              OKLAHOMA        54.7
38                OREGON        39.9
39          PENNSYLVANIA       283.9
40          RHODE ISLAND      1018.1
41        SOUTH CAROLINA       153.9
42          SOUTH DAKOTA        10.7
43             TENNESSEE       153.9
44                 TEXAS        96.3
45                  UTAH        33.6
46               VERMONT        67.9
47              VIRGINIA       202.6
48            WASHINGTON       101.2
49         WEST VIRGINIA        77.1
50             WISCONSIN       105.0
51               WYOMING         5.8

In [6]:
state_pop_den = state_pop_den.rename(columns = {"POP060210D": "Pop Density"})
state_pop_den

               Area_name  Pop Density
0                ALABAMA         94.4
1                 ALASKA          1.2
2                ARIZONA         56.3
3               ARKANSAS         56.0
4             CALIFORNIA        239.1
5               COLORADO         48.5
6            CONNECTICUT        738.1
7               DELAWARE        460.8
8   DISTRICT OF COLUMBIA       9856.5
9   District of Columbia       9856.6
10               FLORIDA        350.6
11               GEORGIA        168.4
12                HAWAII        211.8
13                 IDAHO         19.0
14              ILLINOIS        231.1
15               INDIANA        181.0
16                  IOWA         54.5
17                KANSAS         34.9
18              KENTUCKY        109.9
19             LOUISIANA        104.9
20                 MAINE         43.1
21              MARYLAND        594.8
22         MASSACHUSETTS        839.4
23              MICHIGAN        174.8
24             MINNESOTA         66.6
25           MISSISSIPPI         63.2
26              MISSOURI         87.1
27               MONTANA          6.8
28              NEBRASKA         23.8
29                NEVADA         24.6
30         NEW HAMPSHIRE        147.0
31            NEW JERSEY       1195.5
32            NEW MEXICO         17.0
33              NEW YORK        411.2
34        NORTH CAROLINA        196.1
35          NORTH DAKOTA          9.7
36                  OHIO        282.3
37              OKLAHOMA         54.7
38                OREGON         39.9
39          PENNSYLVANIA        283.9
40          RHODE ISLAND       1018.1
41        SOUTH CAROLINA        153.9
42          SOUTH DAKOTA         10.7
43             TENNESSEE        153.9
44                 TEXAS         96.3
45                  UTAH         33.6
46               VERMONT         67.9
47              VIRGINIA        202.6
48            WASHINGTON        101.2
49         WEST VIRGINIA         77.1
50             WISCONSIN        105.0
51               WYOMING          5.8

In [7]:
state_pop_den.to_csv("state_pop_den.csv", index=False)